header {
    display: flex;
    gap: 20px;
    height: 100px;
    align-items: end;
    /* text-shadow: 15px 5px 8px white; */
}

header h1 {
    color: hsl(242, 48%, 22%);
    cursor: pointer;
}

header img {
    border-radius: 100%;
    border: 2px solid hsl(242, 48%, 22%);
    transition: scale 0.5s ease;
    cursor: pointer;
}

header img:hover {
    scale: 1.05;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 20px 0px;
    background-color: hsl(242, 48%, 22%);
    padding: 10px;
}

.navbar li a {
    font-size: 1.2rem;
    font-weight: bold;
    color: azure;
    text-decoration: none;
    position: relative;
    transition: content 1s ease;
}

.navbar li a::after {
    content: ''; /* Required for the pseudo-element to be visible */
    position: absolute;
    width: 0; /* Initial state: no width */
    height: 4px; /* Thickness of the underline */
    bottom: -4px; /* Position at the bottom */
    left: 0; /* Position from the left */
    background-color: white; /* Color of the underline */
    transition: width 0.3s ease; /* The transition effect */
}

.navbar li a:hover::after {
    width: 100%;
}

section {
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 20px;
    width: auto;
}

.sidebar {
    height: 400px;
    overflow-y: scroll;
    background-color: #B2B0E8;
    border: 2px solid white;
}

.post h3 {
    margin: 0px;
}

.post {
    background-color: #1A2A80;
    padding: 10px;
    margin: 10px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.btn-div button {
    background-color: white;
    border: none;
    padding: 6px 8px;
    color: hsl(242, 48%, 22%);
    font-weight: 600;
    font-size: 14px;
}

.content {
    height: 400px;
    /* border: 2px solid white; */
    padding: 0px 10px;
    color: hsl(242, 48%, 22%);
}

.content p {
    color: white;
}

.content div h1, .content div p {
    margin: 12px 0px;
    padding: 0px;
}

footer {
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 1100px) {

    section {
        display: flex;
        flex-direction: column;
    }

    .content::-webkit-scrollbar {
        display: none;
    }
}